@model IEnumerable<E_Commerces.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>
<div class="row">
    <div class="col-md-4">
        <p>Filter by category:</p>
        <form asp-action="Shopping" method="get">
            <div class="form-group">
                <label for="category">category</label>
                <select for="category" class="form-control" asp-items="ViewBag.categoryId" name="category" id="category"></select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>
</div>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="~/ImageStaticFiles/@product.Images.FirstOrDefault()?.ImageUrl" class="card-img-top" alt="Product Image"   >
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-sm btn-outline-secondary">View Details</a>
                            <a asp-route="addcart" asp-route-productid="@product.Id" class="btn btn-sm btn-outline-primary">Add To Cart</a>
                            <!-- Add more buttons if needed -->
                        </div>
                        <small class="text-muted">Price: $@product.OriginalPrice</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
